body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 50px
    px;
}
#exibicao-palavra{
    font-size: 3em;
    margin-bottom: 20px;
}
#mensagem{
    display: none;
}
#botao-reiniciar{
display: none;
background-color: fuchsia;
border: none;
color: black;
padding: 30px 60px;
border-radius: 1000px;
cursor: pointer;
margin-top: 30px;
margin-left: 155px;
text-align: center;
margin: auto;

}
#botao-reiniciar:hover{
    background-color:aqua;
}
#Letras-Experimentadas{
font-size: 2em;
color: black;
font-weight:bold;
margin-bottom: 20px;

}